/* The padding and border are included in the total width and height of the elements. */
* {box-sizing: border-box;}
/* Mobile first */
/* Define width of col- */
.gr-col-xs-1 {width: 8.33%;}
.gr-col-xs-2 {width: 16.66%;}
.gr-col-xs-3 {width: 25%;}
.gr-col-xs-4 {width: 33.33%;}
.gr-col-xs-5 {width: 41.66%;}
.gr-col-xs-6 {width: 50%;}
.gr-col-xs-7 {width: 58.33%;}
.gr-col-xs-8 {width: 66.66%;}
.gr-col-xs-9 {width: 75%;}
.gr-col-xs-10 {width: 83.33%;}
.gr-col-xs-11 {width: 91.66%;}
.gr-col-xs-12 {width: 100%;}
.gr-container {
  width: 100%;
  margin: 0 auto;
}
.gr-container-full {
  width: 100%;
  margin: 0 auto;
}
.gr-img-responsive{
  width: 100%;
  height: auto;
}
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 
  .gr-col-sm-1 {width: 8.33%;}
  .gr-col-sm-2 {width: 16.66%;}
  .gr-col-sm-3 {width: 25%;}
  .gr-col-sm-4 {width: 33.33%;}
  .gr-col-sm-5 {width: 41.66%;}
  .gr-col-sm-6 {width: 50%;}
  .gr-col-sm-7 {width: 58.33%;}
  .gr-col-sm-8 {width: 66.66%;}
  .gr-col-sm-9 {width: 75%;}
  .gr-col-sm-10 {width: 83.33%;}
  .gr-col-sm-11 {width: 91.66%;}
  .gr-col-sm-12 {width: 100%;}
  .gr-container {width: 100%;}
}
/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
  .gr-col-md-1 {width: 8.33%;}
  .gr-col-md-2 {width: 16.66%;}
  .gr-col-md-3 {width: 25%;}
  .gr-col-md-4 {width: 33.33%;}
  .gr-col-md-5 {width: 41.66%;}
  .gr-col-md-6 {width: 50%;}
  .gr-col-md-7 {width: 58.33%;}
  .gr-col-md-8 {width: 66.66%;}
  .gr-col-md-9 {width: 75%;}
  .gr-col-md-10 {width: 83.33%;}
  .gr-col-md-11 {width: 91.66%;}
  .gr-col-md-12 {width: 100%;}
  .gr-container {width: 750px;}
}
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
  .gr-col-lg-1 {width: 8.33%;}
  .gr-col-lg-2 {width: 16.66%;}
  .gr-col-lg-3 {width: 25%;}
  .gr-col-lg-4 {width: 33.33%;}
  .gr-col-lg-5 {width: 41.66%;}
  .gr-col-lg-6 {width: 50%;}
  .gr-col-lg-7 {width: 58.33%;}
  .gr-col-lg-8 {width: 66.66%;}
  .gr-col-lg-9 {width: 75%;}
  .gr-col-lg-10 {width: 83.33%;}
  .gr-col-lg-11 {width: 91.66%;}
  .gr-col-lg-12 {width: 100%;}
  .gr-container {width: 900px;}
}
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
  .gr-col-xl-1 {width: 8.33%;}
  .gr-col-xl-2 {width: 16.66%;}
  .gr-col-xl-3 {width: 25%;}
  .gr-col-xl-4 {width: 33.33%;}
  .gr-col-xl-5 {width: 41.66%;}
  .gr-col-xl-6 {width: 50%;}
  .gr-col-xl-7 {width: 58.33%;}
  .gr-col-xl-8 {width: 66.66%;}
  .gr-col-xl-9 {width: 75%;}
  .gr-col-xl-10 {width: 83.33%;}
  .gr-col-xl-11 {width: 91.66%;}
  .gr-col-xl-12 {width: 100%;}
  .gr-container {width: 1080px;}
}
[class*="gr-col-"] {
  float: left;
  padding: 15px;
}
/* Define row */
.gr-row::after {
  content: "";
  clear: both;
  display: table;
}
